<ngx-spinner bdOpacity=0.9 bdColor="#ffffff87" size="medium" color="#220caf" type="ball-clip-rotate"
  [fullScreen]="false">
</ngx-spinner>
<!-- <mat-sidenav-container>
  <mat-sidenav #sideNav mode="over" position="end" (opened)='view()' fixedInViewport>
    <div #chatsView class="container" (scroll)='scrollEvent($event)'>
      <mat-list>
        <ng-container *ngFor="let item of chats; let last = last">
          <div [ngClass]="{'own': item.from.uid === authSV.role.uid}">
            <mat-list-item class="author" [id]="item.gomdon_ctime">
              <span *ngIf="item.from.uid !== authSV.role.uid">{{item.from.name}}</span>
              <span *ngIf="item.from.uid === authSV.role.uid" class="menu-spacer"></span>
              <span class="time">{{item.gomdon_ctime *1000 | date: 'HH:mm:s dd/MM'}}</span>
            </mat-list-item>
            <mat-list-item class="content">
              <span *ngIf="item.from.uid === authSV.role.uid" class="menu-spacer"></span>
              <span class="content">{{item.content}}</span>
            </mat-list-item>
          </div>
        </ng-container>

      </mat-list>
    </div>
    <div class="action">
     <mat-form-field style="width: 98%; background-color: #fff;" >
      <textarea matInput rows="2" [(ngModel)]='textChat' (keydown.enter)="onKeydown($event)" (keyup.enter)="sentMessage()"
      autofocus class="chat" placeholder="Nhập tin nhắn tại đây... Enter để gửi"></textarea>
     </mat-form-field>
     <button fxHide.gt-sm color="primary" mat-raised-button (click)="sentMessage()">GỬI TIN NHẮN</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [inputSideNav]="sideNav"></app-header>
    <div class="container-app">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<div style="height: 100%;">
  <app-header></app-header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

